@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}

.link{
    color: #5d5d5d !important;
    text-decoration: none;
}

.d-none{
    display: none;
}

.menu{
    padding: 10px !important;
}

.menu__menu-mobile{
    display: flex;
    justify-content: space-between;
}

.menu__menu-mobile__icon-menu button{
    border: 0 !important;
    background-color: transparent;
    color: #4b4b4b;
}

.menu__menu-mobile__{
    width: 100%;
    position: absolute;
    left: 7px;
    top: 28px;
    background-color: #fff;
    height: calc(100vh - 46px);
    transition: all 1s ease-out;
}

.menu__menu-mobile__close{
    left: -290px;
}

.menu__menu-mobile__list{
    padding: 20px 10px !important;
}

.menu__menu-mobile__item{
    list-style: none;
    line-height: 32px;
}

/*.menu__menu-mobile__link link{

}